<body>
  <h3 class="titledesign">diseña</h3>
  <section>
    <h4 class="titlecolours">colores</h4>
    <div>
      <label for="colour1">
        <input id="colour1" type="radio" value="colour1" name="coloursgrid" />
        <ul class="colourboxes">
          <li class="item1-item1">Color A</li>
          <li class="item1-item2">Color B</li>
          <li class="item1-item3">Color C</li>
        </ul>
      </label>

      <label for="colour2">
        <input id="colour2" type="radio" value="colour2" name="coloursgrid" />
        <ul class="colourboxes">
          <li class="item2-item1">Color A</li>
          <li class="item2-item2">Color B</li>
          <li class="item2-item3">Color C</li>
        </ul>
      </label>

      <label for="colour3">
        <input id="colour3" type="radio" value="colour3" name="coloursgrid" />
        <ul class="colourboxes">
          <li class="item3-item1">Color A</li>
          <li class="item3-item2">Color B</li>
          <li class="item3-item3">Color C</li>
        </ul>
      </label>
    </div>
  </section>
</body>
