<section>
  <div class="topBorder">     </div>
    <include
      src="./collapsable-title.html"
      iconStart="fas fa-share-alt"
      title="Comparte"
      iconEnd="fas fa-chevron-up"
    >
    </include>
    <fieldset class="share">
      <div class="share__second">
        <button class="share__buttom">
          <i class="far fa-address-card"></i> Crear tarjeta
        </button>
      </div>
      <div class="topBorder">     </div>
      <div class="share__collapsable">
        <h3 class="share__collapsable__title">La tarjeta ha sido creada</h3>
        <span class="card__http">http:direcciontarjetagenerada</span>
        <button class="share__collapsable__button">
          <i class="fab fa-twitter"></i> Compartir en twitter
        </button>
 
    </fieldset>
  </div>
</section>
