<body>
<h3 class="titledesign">diseña</h3>
<section>
  <h4 class="titlecolours">colores</h4>
  <div>
    <label for="colour1">
      <input id="colour1" type="radio" value="colour1" name="coloursgrid" />
    </label>
  </div>
  <div class="colourboxes1">
    <div class="item1-item1"></div>
    <div class="item1-item2"></div>
    <div class="item1-item3"></div>
  <div>
    <label for="colour2">
      <input id="colour2" type="radio" value="colour2" name="coloursgrid" />
    </label>
    <div class="colourboxes2">
        <div class="item2-item1"></div>
        <div class="item2-item2"></div>
        <div class="item2-item3"></div>
      <div>
  </div>
  <div>
    <label for="colour3">
      <input id="colour3" type="radio" value="colour3" name="coloursgrid" />
    </label>
    <div class="colourboxes3">
        <div class="item3-item1"></div>
        <div class="item3-item2"></div>
        <div class="item3-item3"></div>
      <div>
  </div>
</section>
</body>