<fieldset class="share">
  <h2 class="share__title">
    <i class="fas fa-share-alt"></i>comparte <i class="fas fa-chevron-down"></i>
  </h2>

  <div>
    <button class="share__buttom">
      <i class="far fa-address-card"></i> Crear tarjeta
    </button>
  </div>
  <div class="share__collapsable">
    <h3 class="share__collapsable__title">La tarjeta ha sido creada</h3>
    <span class="card__http">http:direcciontarjetagenerada</span>
    <button class="share__collapsable__button">
      <i class="fab fa-twitter"></i> Compartir en twitter
    </button>
  </div>
</fieldset>
