<main class="main__container">
  <section class="main__section1">
    <h1 class="main__section1--title">Crea tu tarjeta de visita</h1>
    <p class="main__section1--paragraph">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>
  <section class="main__section2">
    <ul class="main__section2--options">
      <li class="section2__li li__design">
        <i class="far fa-object-ungroup main__section2--icon"></i>Diseña
      </li>

      <li class="section2__li li__fill">
        <i class="far fa-keyboard main__section2--icon"></i>Rellena
      </li>

      <li class="section2__li li__share">
        <i class="fas fa-share-alt main__section2--icon"></i>Comparte
      </li>
    </ul>
  </section>
  <section class="main__section3">
    <a
      class="main__section3--button"
      href="../cards.html"
      title="Comenzar a crear tarjeta"
      >Comenzar</a
    >
  </section>
</main>
