<main class="main__container">
  <section class="main__section1">
    <h1 class="main__section1--title">Crea tu tarjeta de visita</h1>
    <p class="main__section1--paragraph">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>
  <section class="main__section2">
    <ul class="main__section2--options">
        <i class="far fa-object-ungroup"></i></i>
        <li class="main__li--desing">Diseña</li>
        <i class="far fa-keyboard"></i>
      <li class="main__li--fill">Rellena</li>
      <i class="fas fa-share-alt"></i>
      <li class="main__li--share">Comparte</li>
    </ul>
  </section>
  <section class="main__section3">
    <a class="main__section3--button" href="../cards.html" title="Comenzar a crear tarjeta"
      >Comenzar</a
    >
  </section>
</main>
