<section class="preview">
  <button class="preview__button"><i class="fas fa-trash-alt"></i>reset</button>
  <article class="preview__card">
    <span class="preview__pretty"></span>
    <h2 class="preview__name js_previewName">Nombre Apellidos</h2>
    <h3 class="preview__description js_previewDescription">Descripción</h3>

    <div
      class="preview__image js__profile-image"
      style="background-image: url(./assets/images/tarjetaSonrisa.jpg)"
    ></div>
    <nav class="preview__icons">
      <a
        class="preview__icons--measures js_previewPhone"
        href="#"
        target="_blank"
        title="phone"
        ><i class="fas fa-mobile-alt"></i
      ></a>
      <a
        class="preview__icons--measures js_previewEmail"
        href="#"
        target="_blank"
        title="message"
        ><i class="far fa-envelope"></i
      ></a>
      <a
        class="preview__icons--measures"
        href="#"
        target="_blank"
        title="linkedin"
        ><i class="fab fa-linkedin-in js_previewLinkedin"></i
      ></a>
      <a
        class="preview__icons--measures"
        href="#"
        target="_blank"
        title="github"
        ><i class="fab fa-github-alt js_previewGithub"></i
      ></a>
    </nav>
  </article>
</section>
