<section class="preview">
    <button class="preview__button"><i class="fas fa-trash-alt"></i>reset</button>
    <article class="preview__card">
      <div >
        <span class="preview__pretty"></span>
        <h2 class="preview__name">Nombre Apellidos</h2>
        <h3 class="preview__description">Descripcion</h3>
      </div>
      <div class= "preview__image"><img src="#" alt="image"></img> </div>
        <nav class="preview__icons">
          <a class="preview__icons--measures" href="#" target="_blank" title="phone"><i class="fas fa-mobile-alt"></i></a>
          <a class="preview__icons--measures" href="#" target="_blank" title="message"><i class="far fa-envelope"></i></a>
          <a class="preview__icons--measures" href="#" target="_blank" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
          <a class="preview__icons--measures" href="#" target="_blank" title="github"><i class="fab fa-github-alt"></i></a>
        </nav>
    
    </article>

  </section>