$merriWeather: "Merriweather", serif;
$montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;

$textColorGrey: #54585a;
$textColorOrange: #e17334;
$textColorDirtyBlue: #438792;
$textColorDarkGreen: #114e4e;
$textColorHospitalGreen: #a2deaf;
$textColorWhiteFour: #f5f5f5;
$textColorLightKhaki: #f9f4dc;
$textColorWhite: #ffffff;
$textColorWhitetwo: #d8d8d8;

$textColor1: $textColorGrey;
$textColor2: $textColorOrange;
$textColor3: $textColorDirtyBlue;
$textColor4: $textColorDarkGreen;
$textColor5: $textColorHospitalGreen;
$textColor6: $textColorWhiteFour;
$textColor7: $textColorLightKhaki;
$textColor8: $textColorWhite;
$textColor9: $textColorWhitetwo;
