@media (min-width: 768px) {
  .wholeMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form preview";
  }
  .preview {
    grid-area: preview;
  }
  .form {
    grid-area: form;
  }
  .fill__legend--subcontainer-keyboardIcon {
    transform: translateX(300px);
  }
}
