@media (min-width: 768px) {
  .wholeMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'form preview';
    min-height: 100vh;
  }
  .preview {
    grid-area: preview;
  }
  .form {
    grid-area: form;
  }
  .topBorder {
    border-top: 1px solid $textColor9;
    margin: 60px 30px 0px 30px;
  }
}
