.share_icon {
  color: $textColor2;
  padding-top: 13px;
  margin-left: 23px;
}
.share_flecha {
  margin-top: 13px;
  margin-left: 137px;
}
.fa-twitter {
  padding: 3px;
}
.share {
  color: $textColor1;
  font-size: 18px;
  font-family: $openSans;
  // margin: 0px 20px 10px 20px;

  &__second {
    display: flex;
    justify-content: center;
  }
  &__buttom {
    background-color: $textColor2;
    width: 199px;
    height: 50px;
    border-radius: 12px;
    color: $textColor8;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.32);
    margin: 30px 0px 30px 0px;
  }
  &__collapsable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid $textColor9;
    margin-bottom: 50px 30px 0px 30px;

    &__title {
      font-size: 18px;
      text-transform: none;
      margin-top: 20px;
    }
    &__button {
      background-color: #00a0f5;
      color: #ffffff;
      width: 181px;
      height: 30px;
      border-radius: 3px;
      font-family: $openSans;
      font-size: 14px;
      margin: 10px 70px 61px 70px;
    }
  }
}
.card__http {
  color: $textColor2;
  font-family: $openSans;
  font-size: 14px;
  margin-top: 5px;
}
.topBorder2 {
  border-top: 1px solid $textColor9;
  margin: 0px 0px 10px 0px;
}
