.fill {
  font-family: $openSans;
  font-size: 14px;
  background-image: linear-gradient(to bottom, $textColor6, $textColor8 9%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  margin: auto;
  padding: 27px 19px 30px 20px;
  width: 100%;

  &__legend {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    &--subcontainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-right: 168px;

      &-keyboardIcon {
        color: $textColor2;
        font-size: 22px;
        transform: translate(-25px, 10px);
      }
    }
  }

  &__first--name {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 100%;
    color: $textColor4;
    &-lab {
      line-height: 20px;
      margin-bottom: 7px;
    }
    &-inp {
      border: solid 1px $textColor5;
      padding: 3px 205px 7px 9px;
    }
  }
  &__first--position {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $textColor4;
    line-height: 20px;
    &-lab {
      line-height: 20px;
      margin-bottom: 7px;
    }
    &-inp {
      border: solid 1px $textColor5;
      padding: 3px 135px 7px 9px;
    }
  }
  &__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    &-label {
      line-height: 20px;
      margin-bottom: 7px;
      color: $textColor4;
    }
    &-buttoncheck {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    &-button {
      background-color: $textColor2;
      width: 140px;
      height: 30px;
      border: solid 1px $textColor2;
      border-radius: 3px;
      color: $textColor8;
    }
  }
  &__third--mail {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $textColor4;
    line-height: 20px;
    &-lab {
      line-height: 20px;
      margin-bottom: 7px;
    }
    &-inp {
      border: solid 1px $textColor5;
      padding: 3px 120px 7px 9px;
    }
  }
  &__third--tel {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $textColor4;
    line-height: 20px;
    &-lab {
      line-height: 20px;
      margin-bottom: 7px;
    }
    &-inp {
      border: solid 1px $textColor5;
      padding: 3px 167px 7px 9px;
    }
  }
  &__third--linked {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $textColor4;
    line-height: 20px;
    &-lab {
      line-height: 20px;
      margin-bottom: 7px;
    }
    &-inp {
      border: solid 1px $textColor5;
      padding: 3px 96px 7px 9px;
    }
  }
  &__third--git {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $textColor4;
    line-height: 20px;
    &-lab {
      line-height: 20px;
      margin-bottom: 7px;
    }
    &-inp {
      border: solid 1px $textColor5;
      padding: 3px 188px 7px 9px;
    }
  }
}
