//para resetear los estilos por defecto de campos y botones

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//estilos de la parte formulario
.form {
  font-family: $openSans;
  font-size: 14px;
  background-color: aqua;
}
