.header__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 27.8vh;
  background-color: $textColor6;
  @media all and (min-width: 768px) {
    height: 47.47vh;
  }
  @media all and (min-width: 1024px) {
    //height: 27.86vh;
  }

  .header__img {
    height: 63px;
    margin-top: 95px;
    margin-bottom: 31px;
    @media all and (min-width: 768px) {
      height: 105px;
      margin-top: 180px;
    }
    /*@media all and (min-width: 1024px) {
      height: 50px;
      margin-top: 31px;
      margin-bottom: 30px;
      margin-left: 40px;
    }*/
  }
}
