.preview {
  background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  height: 457px;
  width: 100%;
  margin: 0;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    height: 98.4%;
    border-radius: 6px;
    margin: 23px 40px;
  }

  &__button {
    border: $textColor8 1px solid;
    border-radius: 15px;
    font-family: $openSans;
    font-size: 12px;
    padding: 6px 6px 6px 0px;
    background-color: #bfcdd0;
    color: $textColorGrey;
    text-transform: uppercase;
    margin: 0px 200px 20px 30px;
    width: 75px;
    height: 30px;
  }
  &__card {
    width: 240px;
    height: 329px;
    border-radius: 2px;
    background-color: $textColor8;
    color: $textColor1;
  }
  &__name {
    font-family: $montserrat;
    font-weight: bold;
    font-size: 18px;
    padding: 21px 14px 2px 20px;
  }
  &__description {
    font-family: $montserrat;
    font-size: 16px;
    padding: 2px 52px 10px 20px;
  }
  &__image {
    width: 240px;
    height: 200px;
  }
  &__icons {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 65px;
  }
  &__icons--measures {
    display: inline-block;
    border: $textColorHospitalGreen solid 2px;
    border-radius: 50%;
    color: $textColorDarkGreen;
    margin: 1px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
  }
}

.fa-trash-alt {
  padding: 3px;
}
.preview__pretty {
  width: 5px;
  height: 42px;
  background-color: #438792;
  position: absolute;
  transform: translateY(21px);
}
